#Encabezado {
    height: 400px;
    background-image: url("../img/casas/Encabezado.jpg");
}

body {
    background-color: azure;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    padding-top: 180px;
    text-shadow: 10px;
    color: firebrick;
}

.Casa {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden; /* Asegura que los elementos flotantes queden contenidos */
    margin-bottom: 20px; /* Añade un margen inferior para separación */
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: firebrick;
    border: solid 3px black;
}
.Inf {
    font-family: Arial, Helvetica, sans-serif;
}

#Inf1, #Inf2 {
    float: left;
    margin-top: 20px;
    margin: 20px;
    margin-left: 30px;
    height: 400px;
    width: 43%;
    padding: 20px;
}

#Casa1 img, #Casa2 img {
    float: right;
    margin: 30px;
    margin-right: 30px;
    height: 400px;
    width: 43%;
    padding: 10px;
}

#Imgcasa1, #Imgcasa2 {
    border: 10px;
    height: 100%;
    width: 100%;
}

.Button_compra {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: firebrick;
    border: none;
    border-radius: 15px;
}
